# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\marcr\DatagripProjects\Food-Safety-Inspections\.idea/dataSources/
/dataSources.local.xml
